.tagCloudContainer {
  // border: 2px solid #fff;
  // height: 100%;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  text-align: center;
  background-color: #212124;
}

@media (max-width: 440px) {
  .tagHeading {
    font-size: 20px;
  }
}

.tag {
  cursor: pointer;
}

.active {
  color: greenyellow;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  background-color: #202020;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 2px 4px 4px #202020;
  margin-bottom: 10px;
}

.selectedTitle {
  margin-bottom: 5px;
}

@media (max-width: 1360px) {
.tagCloudContainer {
  width: 300px;
}

}