.items-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap: 20px;
  width: 100%;
  // padding-bottom: 50px;
  //- 170px
}

.editHeading {
  letter-spacing: 3px;
  color: cyan;
  cursor: pointer;
  display: inline;
  width: 100%;
}
.editDiv {
  // display: inline;
  margin-top: 16px;
}

.items-div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.items-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.items-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  height: 100%;
}

.form-group {
  margin-bottom: 15px;
}

.types-label {
  font-weight: bold;
  display: block;
  padding: 4px;
  text-align: center;
  color: #fff;
}
.ints-input {
  padding: 3px;
  border: 1px solid #ccc;
  background-color: #0766ad;
  border-radius: 5px;
}
.stringsInput {
  padding: 3px;
  border: 1px solid #ccc;
  background-color: #89b9ad;
}
.multilinesInput {
  padding: 3px;
  border: 1px solid #ccc;
  background-color: #f3b664;
}
.booleansInput {
  padding: 3px;
  border: 1px solid #ccc;
  background-color: #164863;
}
.booleanCheckbox {
  width: 100%;
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  clip-path: circle(46% at 50% 50%);
  accent-color: #739072;
}
.datesInput {
  padding: 3px;
  border: 1px solid #ccc;
  background-color: #706233;
}

.label {
  font-weight: bold;
  display: block;
  background-color: #352f44;
  padding: 7px;
  border-radius: 10px;
  color: #9db2bf;
}
.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  /* border-radius: 5px; */
}
.title {
  text-align: center;
  font-size: 20px;
  color: #9db2bf;
  background-color: #352f44;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 250px;
  border: 2px solid #5c5470;
}
.button {
  font-family: lato, sans-serif;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #ffffff;
  background-color: #191919;
  display: inline-block;
  padding: 10px 40px;
  position: relative;
  border: 2px solid #ffffff;
  width: 40%;
  cursor: pointer;
  &:hover {
    color: #000000;
    background-color: #ffffff;
  }
}

.submit-button {
  font-family: lato, sans-serif;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #ffffff;
  background-color: #331d2c;
  display: inline-block;
  padding: 10px 40px;
  position: relative;
  border: 2px solid #ffffff;
  width: 100%;
  max-width: 200px;
  cursor: pointer;
  &:hover {
    color: #000000;
    background-color: #3f2e3e;
  }
  opacity: 1;
}
.input-test {
  max-width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #3f2e3e;
}

.collection-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// card cont

.cardContainer {
  width: 100%;
  max-width: 900px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  background-color: #242526;
}

.cardHeading {
  font-weight: bold;
  margin-bottom: 8px;
}

.cardImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.commentsDiv {
  padding-top: 10px;
  padding-bottom: 3px;
}

.commentsContainer {
  background-color: #3a3b3c;
  border-radius: 10px;
  padding: 8px;
}

.commentInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.commentButton {
  margin-top: 8px;
  background-color: #3a3b3c;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.commentsForm {
  padding-top: 16px;
}

.actionsDiv {
  display: flex;
  justify-content: space-between;
  padding: 12px 12px;
  margin-top: 12px;
  border-top: 1px solid #3a3b3c;
  border-bottom: 1px solid #3a3b3c;
}

.likeH4 {
  cursor: pointer;
  color: #b0b3b8;
  &:hover {
    color: #3a3b3c;
  }
}
.commentH4 {
  cursor: pointer;
  color: #b0b3b8;
  &:hover {
    color: #3a3b3c;
  }
}

.likesCommentsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.countDiv {
  cursor: pointer;
  color: #b0b3b8;
  &:hover {
    text-decoration: underline;
  }
}

.liked {
  color: #00A9FF;
}

.deleteItem {
  // background-color: #113946;
  border-radius: 10px;
  margin-bottom: 16px;
  text-align: center;
  font-weight: bolder;
  color: red;
  cursor: pointer;
  font-size: 20px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modalContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #232d3f;
  color: black;
  padding: 40px;
  border-radius: 8px;
  max-width: 1500px;
  height: 1100px;
  max-height: calc(100vh - 170px);
  overflow-y: auto;
  width: 100%;
}

.closeModalButton {
  width: 250px;
  padding: 5px;
  background-color: #352f44;
  border: 2px solid #5c5470;
  color: white;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: #5c5470;
    border: 2px solid #352f44;
  }
}

.modalFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #232d3f;
  padding: 40px;
  max-width: 1500px;
  width: 100%;
}

.typesContainer {
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.typesButton {
  width: 120px;
  padding: 5px;
  background-color: #352f44;
  border: 2px solid #5c5470;
  color: white;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: #5c5470;
    border: 2px solid #352f44;
  }
}


.td {
  padding: 15px;
  border: 2px solid #3A3B3C;
  text-align: center;
  
  // word-break: break-all;
}
.th {
  padding: 15px;
  border: 2px solid #3A3B3C;
}
.tr {
  border: 1px solid #3A3B3C;
  border-collapse: collapse;
}

.table {
  width: 100%;
  border-collapse: collapse;
  word-break: break-all;
}

.items-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  background-color: #272829;
  padding: 10px;
  border-radius: 10px;
}