.darkModeContainer {
  width: 45px;
  height: 20px;
  border: 1.5px solid #495e57;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  position: relative;
  cursor: pointer;
}

.icon {
  font-size: 12px;
}

.ball {
  width: 15px;
  height: 15px;
  background-color: #495e57;
  border-radius: 50%;
  position: absolute;
}
