.container {
  // padding-top: 30px;
  // padding-bottom: 10px;
  // border-bottom: 1px solid #323235;
  background-color: #2B2B2B;
  border-radius: 15px;
  padding: 15px;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linksContainer {
  display: flex;
  gap: 10px;
  font-size: 15px;
  align-items: center;
  font-weight: bold;
  line-height: 1.5px;
}

.navLink {
  margin-left: 20px;
  // color: #000;
  color: #fff;
}

.logo {
  font-weight: bold;
  font-size: 26px;
  color: #fff;
  // color: #000;

  &:hover {
    color: #ff9900;
  }
}

.button {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 24px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;

  &:hover,
  &:focus {
    opacity: 0.75;
  }
}

.signOutButton {
  background-color: #435b66;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;

  &:hover {
    background-color: #2d4356;
    color: #000;
  }
}