.container {
  // padding-top: 30px;
  // padding-bottom: 10px;
  // border-bottom: 1px solid #323235;
  background-color: transparent;
  border: 0.5px solid #ffffff3d;
  padding: 15px;
  margin-top: 1px;
}


.linksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLink {
  margin-left: 20px;
  // color: #000;
  color: #fff;
}



@media screen and (max-width: 1350px) {
  .hamburger {
    display: block;
  }
  .sidenav {
    position: absolute; top: -9999px; left: -9999px;
    width: 100%;
    height: 350px;
    padding: 0 100px 0 100px;
    background-color: #242526;
    transform: translateY(-120%);
    transition: all 0.5s ease-in-out;
  }

  .linksContainer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  // .signOutButton {
  //   margin-top: 20px;
  // }
  .navLink {
    margin: 0;
  }

  .navLink:last-child {
    margin-top: 15px;
  }
}

@media screen and (max-width: 460px) {
  .logo {
    font-size: 13px;
  }
  .linksContainer {
    font-size: 10px;
  }
  .navLink {
    margin: 0;
  }
  .signOutButton {
    font-size: 10px;
    padding: 6px 13px;
  }
}
