.authNotification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #242526;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  z-index: 999;
}