.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.spinner::after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.dashboardContainer {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.form {
  padding: 30px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 100%;
  background: #2C3333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formGroup {
  margin-bottom: 15px;
}

.label {
  display: block;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.button {
  font-family: lato, sans-serif;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #ffffff;
  background-color: #242526;
  display: inline-block;
  padding: 10px 40px;
  position: relative;
  border: 2px solid #ffffff;

  cursor: pointer;
  &:hover {
    color: #242526;
    background-color: #ffffff;
  }
}

.collectionDiv {
  width: 100%;
  max-width: 350px;
}
.collectionHeading {
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 2px solid #419197;
}
.headingDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px 0 10px;
  gap: 10px;
}

.collectionName {
  cursor: pointer;
  background-color: #2C3333;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 16px;
  text-align: center;
  width: 100%;
}

.span {
  background-color: #2C3333;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 16px;
  text-align: center;
  width: 20%;
  font-weight: bolder;
  color: red;
  cursor: pointer;
}


@media screen and (max-width: 1250px) {

}